body {
    background-color: black;
    margin: 0px;
    font-family: 'Segoe UI Light', sans-serif;
}


#main-logo {
    filter: invert(1);
    height: 70%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    transition: 0.2s;
}

#main-logo:hover{
    transform: scale(0.7);
    transition: 0.3s;
}

.main-banner {
    /*top: 4%;*/
    filter: blur();
    height: 18%;
    width: 100%;
    background-color: #151965;
    position: fixed;
    z-index: 5;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-banner-nav {
    /*background-color: green;*/
    list-style-type: none;
    display: inline-block;
    position: absolute;
    /*top: 17.43%;*/
    left: 74.81%;
    bottom: 47%;
    top: 37%;
}



li {
    /*background-color: white;*/
    display: inline-block;
    position: relative;
    padding-left: 11px;
    padding-right: 11px;
    transition: 0.3s;
    font-size: large;

}

ol{
    margin-top: auto;
    margin-bottom: auto;
}

#first-nav-menu-link {
    padding-left: 0;
    margin-left: 0;
}

a {
    color: white;
    text-decoration: none;

}

a:hover{
    transition: 0.3s;
    text-decoration: white wavy underline;

}

.index-splash-img{
    top: 18%;
    display: inline-block;
    position: absolute;
    height: 600px;
    z-index: 1;
}

#splash-img{
    transition: 0.3s ease-in;
    width: 100%;
    overflow-x: hidden;
    transition: transform .8s ease;
    filter: black;
    filter: grayscale(100%);
    transition: 0.4s ease-out;
    object-fit: fill;
    overflow: fill;
}

#splash-img:hover{
    transform: scale(1);
    transition: 0.4s ease-in;
    filter: grayscale(0%);
}

.quick-toggle-banner {
    position: absolute;
    height: 4%;
    width: 100%;
    background-color: rgba(26, 218, 252, 0.87);
    z-index: 5;
}

/*-------------------------*/

.loader{
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151965;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to{
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .loader.hidden{
  
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
  }
  
  
  
  
  
  .loader > img{
    width: 100px;
              -webkit-animation: load_anim 1s infinite ease-in-out;
                      animation: load_anim 1s infinite ease-in-out;
  }
  
  @-webkit-keyframes load_anim {
      from {-webkit-transform: scale(1.0);}
      to   {-webkit-transform: scale(1.5);}}
  }
  
  @keyframes load_anim {
      from {-ms-transform: scale(1.0);}
      to   {-ms-transform: scale(1.5);}
  
      from {transform: scale(1.0);}
      to   {transform: scale(1.5);}
  }
